<div class="side-box">
    <header>
        <h1> Módulo 1 </h1>
        <p> Información General </p>
    

    <button class="tag">Investigando</button>
    <button class="tag">Tag 1</button>
    <button class="tag">Tag de Muestra</button>
    <button class="tag">Tag 2</button>
</header>

    <h2 class="subtitles"> Material de descarga </h2>
    <div class="box">
        <img src="../../../../assets/icon_1.svg" class="icons">
        <div class="content-box">
        <p>Accede como vistante</p>
        <button class="access">Acceder</button>
    </div>
    </div>

    <div class="box">
        <img src="../../../../assets/icon_2.svg" class="icons">
        <div class="content-box">
        <p>Accede como vistante</p>
        <button class="access">Acceder</button>
        </div>
    </div>

    <div>
        <h3 class="subtitles">Comparte este plan</h3>
        <li><img src="../../../../assets/fb.png" class="social"><a>en Facebook (16)</a></li><br>
        <li><img src="../../../../assets/tw.png" class="social"><a>en Twitter (24)</a></li><br>
        <li><img src="../../../../assets/li.png" class="social"><a>en LinkedIn (32)</a></li><br>
        <li><img src="../../../../assets/wp.png" class="social"><a>en Whatsapp (120)</a></li><br>
    </div>

    <div>
        <h4 class="subtitles">Recursos extra</h4>
        <div class="boxish">
            <p>Ingresa al glosario de Evaluar información</p>
            <img src="../../../../assets/icons/forward.png" class="vectors">
        </div>

        <div class="boxish">
        <p>Descarga el afiche</p>
        <img src="../../../../assets/icons/forward.png" class="vectors">
    </div>
    </div>

    <img src="../../../../assets/graphic.png" class="graphic">
</div>