<header>
    <img src="../../../../assets/imagen_2.jpg">
    <div class="title-box">
        <h1>Investiga el origen</h1>
        <p class="legend">Plan de lección (0202/2021)</p>
    </div>
</header>

<main>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex a, nulla architecto eos illo corrupti
        itaque quas tempora, temporibus atque maiores harum eius qui consequatur porro. Dolores doloremque sunt
        perspiciatis.</p>

    <video src="https://www.youtube.com/watch?v=XR8RhQy3q6g" controls>Cosas extrañas e increíbles encontradas en el
        espacio</video>

    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nisi dolor, et harum error veritatis
        autem rerum unde perspiciatis quia voluptatum minus neque molestiae repellendus animi placeat. Unde, delectus
        beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere magni, labore perspiciatis ducimus deserunt vero dolorem at! Voluptatem molestiae atque inventore sit quas illum tenetur nostrum recusandae ea nulla! Exercitationem!</p>

    <div>
        <div class="container">
            <img src="../../../../assets/imagen_4.png" class="img-profile">
            <div>
                <h1>Juliana Uribe</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi neque pariatur, ipsam dolores esse amet, dolorem sapiente delectus nihil ut non veritatis quo fugiat.</p>
            </div>
        </div>

        <h2>Comentar</h2>
        <div class="warning">
            <p>Ingresa a tu cuenta para comentar</p>
        </div>

        <div class="container">
            <img src="../../../../assets/imagen_5.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

        <div class="container">
            <img src="../../../../assets/imagen_6.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

        <div class="container">
            <img src="../../../../assets/imagen_7.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

        <div class="container">
            <img src="../../../../assets/imagen_8.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

        <div class="container">
            <img src="../../../../assets/imagen_9.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

        <div class="container">
            <img src="../../../../assets/imagen_10.png" class="profile">
            <div class="box">
                    <h3>Nombre Usuario</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eligendi dolores officia officiis</p>
            </div>
        </div>
        <button class="btn-reply">Responder</button>

    </div>

</main>