<div class="container">
    <h1>
        CONTINÚA VIENDO
    </h1>

    <div class="cards-container">
        <div class="cards">
            <img src="../../../../assets/image.png">
            <h2> Detectives y pistas</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minus quam aspernatur soluta nam rem tenetur veniam.</p>
            <a>Ir a la lección <i class="fas fa-arrow-right"></i> </a>
        </div>

        <div class="cards">
            <img src="../../../../assets/image.png">
            <h2> Compara las fuentes</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minus quam aspernatur soluta nam rem tenetur veniam.</p>
            <a>Ir a la lección <i class="fas fa-arrow-right"></i> </a>
        </div>

        <div class="cards">
            <img src="../../../../assets/image.png">
            <h2> Hackea la propaganda</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minus quam aspernatur soluta nam rem tenetur veniam.</p>
            <a>Ir a la lección <i class="fas fa-arrow-right"></i> </a>
        </div>

        <div class="cards">
            <img src="../../../../assets/image.png">
            <h2> La letra chica (que nadie lee)</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium minus quam aspernatur soluta nam rem tenetur veniam.</p>
            <a>Ir a la lección <i class="fas fa-arrow-right"></i> </a>
        </div>
    </div>
</div>
