<footer class="container-footer">
  <div class="suscribe-box">
    <div class="small-box">
      <h4>Suscríbete a este plan de acción</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  consectetur adipisicing elit...</p>
    </div>
    <form>
      <label>E-mail</label> 
      <br>
      <input>
      <button class="btn">Inscribirme <i class="fas fa-arrow-right"></i> </button>
    </form>
  </div>
  <div class="row">
    <div class="logo-foot">
    <img src="../../../../assets/logos.png">
    </div>
    <div class="col-6 col-md">
      <h5>Menú rápido</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Alianza</a></li>
        <li><a class="link-secondary" href="#">Equipo</a></li>
        <li><a class="link-secondary" href="#">Objetivos</a></li>
        <li><a class="link-secondary" href="#">Agradecimientos</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contacto</h5>
    </div>
    <div class="col-6 col-md">
      <h5>Redes sociales</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Facebook</a></li>
        <li><a class="link-secondary" href="#">Twitter</a></li>
        <li><a class="link-secondary" href="#">LinkedIn</a></li>
        <li><a class="link-secondary" href="#">Youtube</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Últimas publicaciones</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Título de la noticia</a></li>
        <li><a class="link-secondary" href="#">Título de la noticia</a></li>
      </ul>
    </div>
  </div>
</footer>